:root{
    --bg: #0B0F2D;       /* dark cosmic background */
    --txt: #E0E7FF;      /* soft light text */
    --accent: #7F5AF0;   /* violet accent */
    --highlight: #FFD700; /* golden highlight */
    --shadow: #7f5af080;
}
body{ 
    background-color: var(--bg); 
    color: var(--txt); 
    font-size: x-large;
    font-family: Kanit, Verdana, Geneva, Tahoma, sans-serif; 
    background-image: url("./assets/background/Symphony_stars.svg");
    background-attachment: fixed; 
    background-blend-mode: luminosity;
    background-size: 800px;
    background-position: 0;
    background-repeat: repeat-x repeat-y; 
    animation: wave-anim 150s linear infinite forwards;
    text-align: center;
}
#settings{
    font-size:xx-large;
    color: var(--txt);
}
footer{
    text-align: left; position: absolute; bottom: 0px;
    color: var(--txt);
    font-size: large;
    font-style: italic;
    font-weight: 300;
}
